.smallBox-contenedor{
	position: fixed;
	bottom: 50px;
	right: 10px;
}

.smallBox-foto{
	float: left;
	margin-top: 45px;
	margin-right: 15px;
}

.smallBox-foto img{
	border-radius: 100%;
	width: 100px;
	height: 100px;
}

.smallBox-contenido{
	float: left;
}

.smallBox-textoContenedor span{
	display: block;
}

.smallBox-titulo{
	font-size: 20px;
	color: #5b5b5b;
}

.smallBox-subTitulo{
	font-size: 18px;
	color: #291818;
}


.smallBox-cajaColor{
	background-color: #82b800;
	margin-top: 15px;
	color: white;
	padding-left: 15px;
	height: 60px;
	line-height: 60px;
	border-radius: 5px;
	overflow: hidden;
}

.smallBox-colorTexto{
	font-size: 16px;
	float: left;
}

.smallBox-colorIcon{
	float: right;
	width: 60px;
	height: 60px;
    padding-top: 5px;
	line-height: 60px;
	text-align: center;
	margin-left: 13px;
	background-color: #77ab00;
}

.smallBox-sombra{
	width: 90%;
	height: 2px;
	margin-top: 20px;
	background-color: rgba(0,0,0,0.1);
	border-radius: 100%;
	-webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
}